.profile__avatar {
}

@media screen and (max-width: 900px) {
    .profile__avatar {
        margin: 0 auto;
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    .profile__avatar {
        margin: 0 auto;
        max-width: 120px;
        max-height: 120px;
    }
}