.popup__field {
    padding: 0 0 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__field:focus {
    outline: none;
}
.popup__field:first-child{
    margin-bottom: 30px;
}